node_modules/
package-lock.json
*.apk
.vscode/*
API_Key
Mobile/.idea
Web/cypress/videos/
Web/cypress/reports/
Web/cypress/screenshots/
Web/coverage/
Web/.nyc_output/
Web/stress/__pycache__/
Mobile/allure-report/*
Mobile/allure-results/*
